<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949063013055-sue0k067m18eq4hm9d25n96hegv3ktkt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949063013055-sue0k067m18eq4hm9d25n96hegv3ktkt</string>
	<key>API_KEY</key>
	<string>AIzaSyAG63JLAILp0H4gVO2LeKsWdcsIds2iMxc</string>
	<key>GCM_SENDER_ID</key>
	<string>949063013055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartParking</string>
	<key>PROJECT_ID</key>
	<string>smart-barrier-dbfea</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-barrier-dbfea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949063013055:ios:3fae4de311bb7a53faac0a</string>
</dict>
</plist>